* {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
}

p {
  font-size: 0.95rem;
  text-align: justify;
  color: #4c4c4e;
}

li {
  font-size: 0.95rem;
  color: #4c4c4e;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}

a {
  font-size: 0.9rem;
  color: #cc0052;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #256cb2;
}

.tooltips {
  /* max-width: 60vw; */
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

.signposter {
  border: 2px solid #cc0052;
  border-radius: 5px;
  padding: 15px;
}

.chart_title_text {
  font-size: 1.1rem;
  font-weight: bold;
  color: #256cb2;
}

.axis_text {
  font-size: 0.8rem;
}

.browser_compat {
  font-size: 0.8rem;
  text-align: justify;
  color: #ad25b2;
  margin-top: 5px;
}

.give_me_some_space {
  margin-top: 20vh;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #256cb2;
}

.header {
  margin: auto;
  /* width: calc(60%); */
  text-align: left;
  margin-top: 20px;
  /* margin-bottom: 0px; */
  /* display: flex; */
}

.container {
  width: calc(80%);
  margin: auto;
}

/* .how_big_should_i_be {
  width: calc(100%);
}

.how_big_should_i_be:hover {
  color: #424242;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  -webkit-transform: translate(20px, 0); 
  -o-transform: translate(20px, 0); 
  -moz-transform: translate(20px, 0); 
   width: calc(50vw);
}

@media screen and (max-width: 800px) {
  .how_big_should_i_be:hover {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    -webkit-transform: translate(20px, 0); 
    -o-transform: translate(20px, 0); 
    -moz-transform: translate(20px, 0); 
    width: calc(80vw);
  }
}

@media screen and (max-width: 600px) {
  .how_big_should_i_be:hover {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    width: calc(100vw);
  }
} */

/* The inline-block display positions the #sections and #vis elements side-by-side while still providing a width and height. We also make the #vis position fixed, which makes it stay in the same place, even as we scroll.  */

#sections {
  position: relative;
  display: inline-block;
  width: calc(35% - 40px);
  margin-left: 5px;
  margin-right: 5px;
  top: 0px;
  z-index: 90;
}

/* The margin on the .step elements ensures we have some space to scroll in for each section. */
.step {
  margin-bottom: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: #ddd; */
  z-index: 1;
}

.mobile_places {
  display: none;
}

@media screen and (max-width: 900px) {
  #sections {
    position: relative;
    display: inline;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    top: 0px;
    z-index: 90;
  }

  #vis {
    display: none;
  }

  /* We might want to turn the scrolling off completely on smaller screens and instead show each svg in place in the sections # */

  .mobile_places {
    position: relative;
    display: inline;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    top: 0px;
    z-index: 90;
  }
}
